.html, body {
    overflow: hidden;
}

.img img {
    height: 100vh;
}

.img {
    position: absolute;
    z-index: 100;
}

.fire {
    left: -13%;
    top: 17%;
}

.fire img {
    max-width: 48vw;
}

.lotus {
    right: -23%;
    top: -35%;
}

.dropShadow {
    box-shadow: 0 0 100px 100px var(--red);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: transparent;
    z-index: 1000;
}

h1, a {
    color: var(--orange);
    z-index: 1100;
    text-decoration: none;
    position: absolute;
}

h1 {
    font-size: 17rem;
    font-family: Avatar;
    text-shadow: 0 4px 4px rgb(0, 0, 0, .5);
}

a {
    font-size: 5rem;
    font-family: Airbender;
    text-shadow: 0 4px 4px rgb(0, 0, 0, .25);
    text-align: right;
    font-weight: 600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s scale;
}

a:hover {
    scale: 1.1;
}

h1.zuko {
    top: 2%;
    left: 22%;
}

a.backstory {
    top: 40%;
    right: 47%;
}

a.timeline {
    top: 53%;
    right: 30%
}

a.photos {
    top: 66%;
    right: 47%;
}

a.about {
    top: 79%;
    right: 30%
}