* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    color: #fff;
    box-sizing: border-box;
}

html, body {
    background-color: var(--bg);
}

:root {
    --bg: #222222;
    --red: #A01D20;
    --orange: #DA543E;
}

@font-face {
    font-family: Avatar;
    src: url("../production/fonts/Avatar_Airbender.ttf");
}

@font-face {
    font-family: Airbender;
    src: local('../production/fonts/Herculanum Regular'), local('Herculanum-Regular'),
        url('../production/fonts/HerculanumLTStd.woff2') format('woff2'),
        url('../production/fonts/HerculanumLTStd.woff') format('woff'),
        url('../production/fonts/HerculanumLTStd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    min-height: 100vh;
}