.container > .timeline {
    /* .preBook1 {} */
    /* .book1 {} */
    /* .book2 {} */
    /* .book3 {} */
    /* .postBook3 {} */
    display: grid;
    grid-template-columns: 3fr 10fr;
    height: 80vh;
    font-size: 2rem;

    .header {
        color: var(--orange);
        font-weight: 800;
        font-size: 3rem;
        margin-bottom: 0.75rem;
    }
    
    .navigation {
        display: flex;
        text-align: right;
        flex-direction: column;
        padding: 32px;
        overflow-y: scroll;
        border-right: 4px solid var(--orange);
        
        .timeframe {
            .header {
                cursor: pointer;
                user-select: none;
            }

            .bullet {
                margin-bottom: 2rem;
                position: relative;
                margin-right: 1rem;
                cursor: pointer;
                transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
                user-select: none;
            }

            .bullet:hover {
                color: var(--orange);
            }

            .bullet:before {
                content: '';
                display: block;
                position: absolute;
                right: -3rem;
                translate: -50% -50%;
                top: 50%;
                aspect-ratio: 1;
                height: 2vh;
                width: 2vh;
                background-color: var(--orange);
                border-radius: 50%;
            }
        }
    }

    .content {
        padding: 32px;

        .timeframe.active {
            display: block;
            color: var(--red);
        }

        .timeframe {
            display: none;
            height: 80vh;
            line-height: 1.25;
            overflow-y: scroll;

            .detail {
                margin-bottom: 3rem;
                margin-left: 4rem;
                position: relative;
            }

            .detail:before {
                content: '';
                display: block;
                position: absolute;
                left: -2rem;
                translate: -50% -50%;
                top: 50%;
                aspect-ratio: 1;
                height: 2vh;
                width: 2vh;
                background-color: var(--orange);
                border-radius: 50%;
            }
        }
    }
}